//////// RESEt CSS //////
@import './_reset.scss';

/* COLORS */
$background-color: #212121;
$accent-color: #F00000;
$text-color: rgb(242, 242, 242);

/* SIZES DESKTOP*/ 
$title-big-size : 90px; 
$title-section_size : 30px;
$title-article_size: 35px;
$content-size: 16px;
$margin-content: 17.0138888889%;
$width-content: 100%;